<br><h1><%= student.name %></h1>

<form action="/users/course/<%= courseId %>/comments/<%= student.id %>" method="post">
    <div class="mb-3">
    <label for="Input1" class="form-label1">Week No.</label>
    <input type="text" class="form-control1" id="Input1" placeholder="Ex. week 35" name="week">
    </div>
      <br><br>
      <div class="mb-3">
        <label for="Textarea1" class="form-label2">Feedback:</label>
        <textarea class="form-control2" id="Textarea1" rows="4" placeholder="Positive Feedbacks only" name="feedback"></textarea>
    <br><br>
        <button style="background-color:#f22d1f; font-size: larger;" type="submit">Submit</button>
      </div>
</form>
<br>


<% if (student.comments) { %>
  <% student.comments.forEach(c => { %>
    <div class="feedback">
    <h1> <%= c.feedback %> </h1>
    <p> Written by: <%= c.userName %> </p>
    <p> Week: <%= c.week %> </p>
    <p><%= moment(c.createdAt).calendar() %> </p>
  </div> 
  
<br>
    <form action="/users/course/<%= courseId %>/comments/<%= student.id %>?_method=DELETE" method="POST">
      <input type="hidden" value="<%= c.feedback %>" name="feedback">
      <input type="hidden" value="<%= c.week %>" name="week"><br><br><br><br>
      <button style="background-color:#f22d1f; font-size: larger;" type="submit" class="btn2">Delete feedback</button><br><br>
    </form><br>
    <% }) %>
    
    <% } %>
    
    <style>
      label {
        color: white;
      }

      .feedback {
        background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
        text-align: center;
        font-size: 20px;
  background: -webkit-linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid #5335cf;
  text-align: center;
  font-family: cursive;
  font-size: 24px;
  border: 10px solid black;
  padding: 2rem 1rem;
  margin-top: 150px;
  min-height: 3em;
  width: 60%;
  resize: both;
  background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
}

      h1 {
        background: linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
        text-align: center;
        font-size: 60px;
  background: -webkit-linear-gradient(135deg, #5335cf 0%, #de005e 25%, #f66e48 50%, #de005e 75%, #5335cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }

      body {
        background-color:#262a2b;
        text-align: center;
        display: grid;
  place-items: center;
  height: 100vh;
  /* overflow: hidden; */
      }

    </style>