<h1><%= student.name %></h1>

<form action="/users/course/<%= courseId %>/comments/<%= student.id %>" method="post">
    <div class="mb-3">
    <label for="Input1" class="form-label1">Week No.</label>
    <input type="text" class="form-control1" id="Input1" placeholder="Ex. week 35" name="week">
    </div>
      <br><br>
      <div class="mb-3">
        <label for="Textarea1" class="form-label2"></label>
        <textarea class="form-control2" id="Textarea1" rows="10" placeholder="Positive Feedbacks only" name="feedback"></textarea>
    <br>
        <button type="submit">Submit</button>
      </div>
</form>
<br>


<% if (student.comments) { %>
  
  <% student.comments.forEach(c => { %>
    <p> Feedback: <%= c.feedback %> </p>
    <p> Written by: <%= c.userName %> </p>
    <p> Week: <%= c.week %> </p>
    <p><%= moment(c.createdAt).calendar() %> </p>

    <!-- <form action="/users/course/<%= courseId %>/comments/<%= student.id %>?_method=PUT">
      <button type="submit" class="btn1">Edit feedback</button>
    </form>
    <br> -->

    <form action="/users/course/<%= courseId %>/comments/<%= student.id %>?_method=DELETE" method="POST">
      <input type="hidden" value="<%= c.feedback %>" name="feedback">
      <input type="hidden" value="<%= c.week %>" name="week">
      <button type="submit" class="btn2">Delete feedback</button>
    </form>
    <br><br>
    <% }) %>
    
    <% } %>
    