


<img src="<%= books.volumeInfo.imageLinks.thumbnail %>">
<h4><%= books.volumeInfo.title %> </h4>
<p>Authors: <%= books.volumeInfo.authors%></p>
<p>Publisher:  <%= books.volumeInfo.publisher %></p>
<p>Published Date: <%= books.volumeInfo.publishedDate %></p>
<p>Language:
<% if (books.volumeInfo.language=='ar'){ %>
   Arabic
<%}else{%>
    English 
    <%}%>
</p>
<p>Categories: <%= books.volumeInfo.categories%></p>
<p>Description: <%= books.volumeInfo.description %></p>

<hr />
<h2>Reviews</h2>

<ul>
    <% reviews.forEach(function(item) { %>
        <div class="well">
          <p> 
            <%= item.review %>
             
          </p>
       
          <b>- <%= item.user.name %></b>
        </div>
        <% }) %>

</ul>


<hr />

<h3>Review on this post</h3>

<form action="/detail/<%=books.id%>/reviews" method="POST">
  <!-- <div class="form-group">
    <label for="username">UserName</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div> -->

  <div class="form-group">
    <label for="review">reviews</label>
    <textarea type="text" class="form-control" id="review" name="review" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>

<hr />
<a href="/">&larr; Back Home</a>

   





