<h1>One Recipe</h1>

<a href="/foods">Home</a>

<h3><%= food.recipe.label %></h3>

<img src="<%= food.recipe.image %>" alt="Food Image">

<% food.recipe.ingredientLines.forEach((ingredient) => { %>
    <% // a few undefined values were showing so if condition will make sure all displayed text is meaningful %>
    <% if(ingredient != 'undefined') { %>
        <div>
            <p><%= ingredient %></p>
        </div>
    <% } %>
<% }) %>

<p>Calories = <%= food.recipe.calories %></p>

<% // name is the key in the returned object %>
<form method="POST" action="/foods/recipes">
    <input hidden type="text" name="name" autocomplete="off" value="<%= food.recipe.label %>">
    <button type="submit">Save</button>
</form>