

<% products.forEach(product => { %>
 
    <h1>
        <%= product.brandName %> 

    </h1>

    <img src="<%= product.img %> " alt="">
<% }) %>



<% home.forEach(t => { %>
    
    <img src="<%= t.url %>" style="width:200px;height:200px;"> </br>
    <form action="/users/book/<%= t.destination %>" method="post">
    <p><%= t.destination %></p>
    </form>

<% }) %>
