<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .ticket{
        width: 400px;
        height: 300px;
		border: 2px solid blue;
    }
    
</style>
<body>
    <h2>My Products are here ..</h2>
   
<div>
    <div class="recipt">
	<div class="title">
		<p class="cinema"><%= user.name %></p>
		<%= user.name %>
		<p class="movie-title"><%= user.email %></p>
	</div>
	<div class="poster">
        <p><%= product.productName %></p>

	</div>
	<div class="info">
	
	<table>
		<tr>
			<th>PRICE</th>
		
		</tr>
		<tr>
			<td><%= product.productPrice %> </td>
			<td><%= product.productDescription %></td>
		
		</tr>
</div>
</div>


</body>
</html>